build/
pkg/
*.zip
*.o
*.so
*.a

.cxx/
.gradle/
local.properties

.vscode/
.idea/
*.iml

.DS_Store
Thumbs.db

jni/zygisk.hpp
pkg-debug/
pkg-release/
dist/
tests/prop_rules_test
tests/ternak-tt-host
tests/*.o
