<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ternak.tt.dpc">

    <application
        android:allowBackup="false"
        android:icon="@android:drawable/ic_dialog_info"
        android:label="TernakTT DPC"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.Light">

        <receiver
            android:name=".TtDeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="TernakTT DPC"
            android:permission="android.permission.BIND_DEVICE_ADMIN"
            android:exported="true">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin_policies" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
                <action android:name="android.app.action.PROFILE_PROVISIONING_COMPLETE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
